Django>=5.0,<6.0
django-environ>=0.11.2
django-cors-headers>=4.3.1
psycopg[binary]>=3.1.18
djangorestframework>=3.15.1
drf-spectacular>=0.27.2
djangorestframework-simplejwt>=5.4.0
django-filter>=24.1
channels>=4.1.0
channels-redis>=4.2.0
celery>=5.4.0
redis>=5.0.3
django-guid>=3.4.0
pytest>=8.2.1
pytest-django>=4.8.0
gunicorn>=21.2.0
uvicorn[standard]>=0.30.1

